
/* GENERALE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Color styles */
--orange-header: #FF6900;
--black-footer: #1A1A1A;
--red-sale: #FF0000;
--green-sale: #008000;
--white-bg: #FFFFFF;
--white-text: #FFFFFF;


}

.debug{
    border: 1px solid red;
}

body{
    background-color: var(--white-bg);
}


header{
    background-color: var(--orange-header);
}

.footer-bg{
    background: var(--black-footer);

}

/* .header-bg{
    background-color: var(--orange-header);
} */

/* FLEX */

.d-flex{
    display: flex;
    flex-flow: row wrap;
}

.justcon-start{
    justify-content: flex-start;
}

.justcon-end{
    justify-content: flex-end;
}
.aligcon-center{
    align-items: center;
}
.justcon-spacebtw{
    justify-content: space-between;
}




/* CONTAINER */

.container{
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 15px; */
}

.p-fixed{
    position: fixed;
}

.padding-top{
    padding-top: 50px;
}

.padding-top-bott{
    padding: 50px 0 50px 0;
}

.logo-head{
    max-width: 120px;
    padding: 5px;
    
}

.card{
    max-width: 350px;
    
   
}

.card-img{
    max-width: 100%;
}

.card-text{
    max-width: 400px;
}



/* TEXT */


ul{
   list-style: none;
}

a{
    text-decoration: none;
    padding: 15px 5px 15px 0 ;
}

nav a{
    color: var(--white-text);
}

article img{
    width: 100%;
}